@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Roboto', sans-serif;
}


.left{
    background-color: blue;
    height: 100vh;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.left > a{
    color: white;
}
.left > a > p{
    visibility: hidden;
}

@media screen and (min-width: 550px) {
    .left{
        background-color: #1992D3;
        align-items: flex-start;
        width: 21%;
        padding-left: 0.7rem;
        display: inline-table;
        padding-right: 20px;
    }
    .left a{
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
    }
    .left > a > .mui-icon{
        margin: 0.8rem;
        font-size: 22px;
    }
    .left > a > .dashboard-icon{
        font-size: 40px;
    }
    .left > a:first-child{
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }
    .left > a:nth-child(7){
        margin-bottom: 3rem;
    }
    .left > a > p{
        visibility: visible;
        font-weight: 600;
    }
}